* {
  font-family: "Times New Roman", Times, serif;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 10px;
}

input {
  width: 90%;
  padding: 1rem;
  font-size: 1.2rem;
}

.card {
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  border: 1px solid grey;
  overflow: hidden;
}

.card p {
  padding: 0.5rem;
  text-align: center;
}
.card img {
  max-height: 170px;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
